<div align='center'>
{{title}}
</div>
<div> 
<div>
<ul class="contacts">
      <li *ngFor="let contact of contacts"
        [class.selected]= "contact === selectedContact"
        (click)="onSelect(contact)">
        <span class="badge">{{contact.name}}</span> {{contact.number}}
      </li>
    </ul>
 <app-contact-deatils [contact] = 'selectedContact' ></app-contact-deatils>
<!-- 
<label>Name: </label> <input [(ngModel)]='contact.name' /></div>
<div>
  <label>Phone No. </label><input [(ngModel)]='contact.number' />
</div> -->