<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
<app-list></app-list>
<div class='main-panel'>
  <div class="content">
             <div class="container-fluid">
                   <div class="row">
             <div class="col-md-8 col-md-offset-2">
                           <div class="card">
                               <div class="card-header text-center" data-background-color="purple">
                                   <h3 class="title">Material Dashboard</h3>
                                   <p class="category">i like the card view </p>
                               </div>
                               <div class="card-content">

<router-outlet></router-outlet>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
